*{
    color:rgb(219, 219, 219);
    font-family: "Arial", sans-serif;

}

body{
    background-color: #4b4b73;
    margin: 20px;
}

li{
    display: inline;
    padding: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-collapse: collapse;
    border: 5px solid rgb(139, 86, 212);
    border-radius: 10px;
}

tr{
    background-color:#544366;
    border: 2px solid rgb(139, 86, 212);
}

td{
    text-align: left;
    padding: 10px;
    width: 50%;
}

#heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#subhead{
    text-align: center;
    font-size: 25px;
}

#menu{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}
#home{
    font-size: 20px;
    padding: 20px;
    font-size: 30px;
    display: block;
}

#examples{
    display: inline;
    width: 400px;
}

#desc{
    font-size: 24px;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}
#para{
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#homepics{
    text-align: center;
}
